# AWS SDK and Bedrock
boto3>=1.40.59
botocore>=1.40.59

# Jupyter and data science
jupyter>=1.1.1
ipywidgets>=8.1.5
matplotlib>=3.9.2
pandas>=2.2.3
numpy>=2.1.2

# AI/ML Frameworks
langchain>=1.0.2
langchain-aws>=1.0.0
langgraph>=1.0.1
litellm>=1.52.0

# Utilities
requests>=2.32.3
pyyaml>=6.0.2
python-dotenv>=1.0.1

#strands
strands-agents>=1.13.0
strands-agents-tools>=0.2.12

# Monitoring and metrics
aws-cloudwatch-logs>=0.1.0
